*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #E6E6EA;
    height: 6.9rem;
    font-size: 2.5rem;
    font-family: "Merriweather";
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    padding-top: 1rem;
}

.mainbody {
    display: flex;
    flex-direction: row;
    height: 87vh;
}

#leftpart{
    background-color: #1d2939;
    width: 20%;
    padding-top: 2rem;
}

.menuoptions{
    font-size: 1.8rem;
    color: white;
    padding-left: 1.4rem;
}

.menuoptions div {
    padding-top: 2.5rem;
}

.links{
    text-decoration: none;
    color: white;
}

#rightpart{
    background-color: #fcfdff;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#graph-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #333;
}

img {
    max-width: 100%;
    padding: 5px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
