<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d437d2e5a9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/education.css">
</head>
<body>
    <section class="header">
        <div class="navbar">
            <img src="/static/images/website logo.png" alt="Emission's Eye logo" width="auto" height="80%">
            <center>
                <h1>EmissionsEye</h1>
            </center>
        </div>
    </section>
    <section class="mainbody">
        <div id="leftpart">
            <div class="menuoptions">
                <div id="one">
                    <i class="fa-solid fa-house"></i>
                    <a href="{{ url_for('dashboard') }}" class="links">Dashboard</a>
                </div>
                <div id="two">
                    <i class="fa-solid fa-calculator"></i>
                    <a href="{{ url_for('calculator') }}" class="links">Emission Calculator</a>
                </div>
                <div id="three">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <a href="{{ url_for('history') }}" class="links">History</a>
                </div>
                <div id="four">
                    <i class="fa-solid fa-circle-info"></i>
                    <a href="{{ url_for('education') }}" class="links">Education</a>
                </div>
                <div id="five">
                    <i class="fa-solid fa-user"></i>
                    <a href="{{ url_for('profile') }}" class="links">Profile</a>
                </div>
                <div id="six">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <a href="{{ url_for('logout') }}" class="links">Logout</a>
                </div>
            </div>
        </div>
        <div id="rightpart">
            <div class="rows">
                <div id="element11" class="elements"></div>
                <div id="element12" class="elements"></div>
                <div id="element13" class="elements"></div>
                <div id="element14" class="elements"></div>
            </div>
            <div class="rows">
                <div id="element21" class="elements"></div>
                <div id="element22" class="elements"></div>
                <div id="element23" class="elements"></div>
                <div id="element24" class="elements"></div>
            </div>
            <div class="rows">
                <div id="element31" class="elements"></div>
                <div id="element32" class="elements"></div>
                <div id="element33" class="elements"></div>
                <div id="element34" class="elements"></div>
            </div>
        </div>
    </section>

    <script src="/static/js/education.js"></script>

</body>
</html>