<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/d437d2e5a9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/profile.css">

</head>

<body>
    <section class="header">
        <div class="navbar">
            <img src="/static/images/website logo.png" alt="Emission's Eye logo" width="auto" height="80%">
            <center>
                <h1>EmissionsEye</h1>
            </center>
        </div>
    </section>
    <section class="mainbody">
        <div id="leftpart">
            <div class="menuoptions">
                <div id="one">
                    <i class="fa-solid fa-house"></i>
                    <a href="{{ url_for('dashboard') }}" class="links">Dashboard</a>
                </div>
                <div id="two">
                    <i class="fa-solid fa-calculator"></i>
                    <a href="{{ url_for('calculator') }}" class="links">Emission Calculator</a>
                </div>
                <div id="three">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <a href="{{ url_for('history') }}" class="links">History</a>
                </div>
                <div id="four">
                    <i class="fa-solid fa-circle-info"></i>
                    <a href="{{ url_for('education') }}" class="links">Education</a>
                </div>
                <div id="five">
                    <i class="fa-solid fa-user"></i>
                    <a href="{{ url_for('profile') }}" class="links">Profile</a>
                </div>
                <div id="six">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <a href="{{ url_for('logout') }}" class="links">Logout</a>
                </div>
            </div>
        </div>
        <div id="rightpart">
            <div class="profile-container">
                <div class="user-details">
                    <div class="names">
                        <b><label for="name">Name:</label></b>
                    <input type="text" id="name" name="name" value="{{ name }}" readonly>
                    </div>
                    <br>
                    <div class="emails">
                        <b><label for="email">Email:</label></b>
                    <input type="email" id="email" name="email" value="{{ email }}" readonly>
                    </div>
                    <br>
                    <p><strong>Mobile:</strong> <span id="mobile"></span></p>
                    <br>
                    <p><strong>Badge:</strong> <span id="badge"></span></p>
                    <br>
                </div>
                <div class="avatar-selection">
                    <div class="avatar-circle">
                        <img id="avatar" src="/static/images/default avatar.png" alt="Profile Picture">
                    </div>
                    <select id="avatarSelect">
                        <option value="default avatar.png">Default</option>
                        <option value="male avatar.png">Male</option>
                        <option value="Female Avatar.png">Female</option>
                    </select>
                </div>
            </div>
        </div>
    </section>

    <script src="/static/js/profile.js"></script>

</body>

</html>